@page "/pages/create"
@model CreateModel

<div class="m-2">
    <partial name="_EmployeeEditForm" model="@Model.ViewModel" />
</div>

@functions {
    public class CreateModel : BaseManagementPageModel
    {
        public CreateModel(IDataRepository repo) : base(repo)
        {

        }

        public void OnGet()
        {
            var employee = TempData.ContainsKey("employee")
                ? JsonSerializer.Deserialize<Employee>(TempData["employee"] as string)
                : new Employee();

            ViewModel = EmployeeViewModelFactory.Create(employee, Departments);
        }

        public async Task<IActionResult> OnPostAsync([FromForm] Employee employee)
        {
            if (ModelState.IsValid)
            {
                employee.Id = default;
                employee.Department = default;

                await Repository.CreateEmployeeAsync(employee);

                return RedirectToPage(nameof(Index));
            }

            ViewModel = EmployeeViewModelFactory.Create(employee, Departments);
            return Page();
        }
    }

}
