@page "/pages/details/{id}"
@model DetailsModel

<div class="m-2">
    <partial name="_EmployeeEditForm" model="@Model.ViewModel" />
</div>


@functions {
    public class DetailsModel : BaseManagementPageModel
    {
        public DetailsModel(IDataRepository repo) : base(repo)
        {

        }

        /// <summary>
        /// Обработчик GET метода страницы
        /// </summary>
        /// <param name="id">Идентификатор сотрудника</param>
        /// <returns></returns>
        public async Task OnGetAsync(long id)
        {
            var employee = await Repository.Employees.Include(e => e.Department).FirstOrDefaultAsync(e => e.Id == id);
            ViewModel = EmployeeViewModelFactory.Details(employee);
        }
    }
}