@page "/pages/edit/{id:long}"
@model EditModel

<div class="m-2">
    <partial name="_EmployeeEditForm" model="@Model.ViewModel" />
</div>


@functions {
    public class EditModel : BaseManagementPageModel
    {
        public EditModel(IDataRepository repo) : base(repo)
        {

        }

        public async Task OnGetAsync(long id)
        {
            var employee = TempData.ContainsKey("employee")
                ? JsonSerializer.Deserialize<Employee>(TempData["employee"] as string)
                : await Repository.FindEmployeeByIdAsync(id);

            ViewModel = EmployeeViewModelFactory.Edit(employee, Departments);
        }

        public async Task<IActionResult> OnPostAsync([FromForm] Employee employee)
        {
            if (ModelState.IsValid)
            {
                employee.Department = default;

                await Repository.SaveEmployeeAsync(employee);

                return RedirectToPage(nameof(Index));
            }
            ViewModel = EmployeeViewModelFactory.Edit(employee, Departments);
            return Page();
        }
    }
}